body {
  margin: 0;
  padding: 0;
}

* {
  margin-top: 0;
}

#header {
  margin: 0;
  padding-left: 12em;
  background-color: #9a8777;
  border-bottom: 5px solid #dbd6d1;
  color: #fff;
}

#header h1 {
  background-color: #a8998a;
  font-size: 120%;
  padding: 1em 1em;
  margin-bottom: 0;
}

#component-navigation-cnr {
  position: absolute;
  left: 0;
  width: 12em;
  height: 100%;
  background-color: #c7b299;
}

#component-navigation {
  padding: 1em 0.5em;
}

#component-navigation ul {
  margin: 0.25em 0 0.5em 0;
  border-bottom: 1px solid #dddfc3;
  padding: 0 0 0.5em 0;
  list-style: none;
}

#component-navigation ul ul {
  margin: 0 0 0.25em 1em;
  border-bottom: 0;
  padding-bottom: 0;
}

#component-navigation ul li {
  margin-bottom: 0.25em;
}

#component-navigation ul li li {
  margin-bottom: 0;
}

#component-navigation a, #component-navigation a:hover, #component-navigation
a:link, #component-navigation a:visited {
  display: block;
  color: #f5f5f5;
  font-weight: bold;
  text-decoration: none;
}

#component-cnr {
  position: absolute;
  left: 12em;
  right: 0;
}

#flash {
  margin: 1em;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-color: #cfc;
  background-color: #f0fff0;
}

#flash.error {
  border-color: #fcc;
  background-color: #fff0f0;
}

#flash p {
  padding: 0;
  margin: 0 4em 0 0;
}

#flash a, #flash a:visited, #flash a:hover, #flash a:link {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 4em;
  text-align: right;
  color: #666;
}

#component {
  padding: 1em;
  color: #222;
  background-color: #fff;
}

#component table {
  margin-bottom: 1em;
}

#component table tr th, #component table tr td  {
  padding: 0.1em 0.25em;
}

table {
  border-collapse: collapse;
  border: 1px solid #dddfc3;
}

table th, table th {
  text-align: left;
  padding: 10em;
}

table tr {
  border-bottom: 1px dashed #dddfc3;
}

table tr th {
  background-color: #dddfc3;
  border-bottom: 1px dashed #dddfc3;
}

#sso {
  border: 1px dashed #777;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #fff; 
}
