<n:invisible xmlns:n="http://nevow.com/ns/nevow/0.1" n:data="salesorder">

  <style type="text/css">
    dl {
      position: relative;
    }
    dt {
      float: left;
      clear: left;
      width: 12em;
      font-weight: bold;
      color: #444;
    }
    dd {
      margin-left: 250px;
    }
  </style>

  <h2>Sales Order</h2>
  <dl>
    <dt>Order Number</dt>
    <dd n:data="order_num" n:render="data">(Order Number)</dd>
    <dt>Total Price</dt>
    <dd>£<n:invisible n:data="total_price" n:render="data">(Total Price)</n:invisible></dd>
    <dt>Status</dt>
    <dd n:data="status" n:render="data">(Status)</dd>
    <n:invisible n:data="payment_reference" n:render="if">
      <dt>Payment Reference</dt>
      <dd n:render="data">(Payment Reference)</dd>
    </n:invisible>
    <dt>Order Placed</dt>
    <dd n:data="create_date" n:render="data">(Create Date)</dd>
    <n:invisible n:data="processed_date" n:render="if">
      <dt>Processed</dt>
      <dd n:render="data">(Processed)</dd>
    </n:invisible>
    <n:invisible n:data="message" n:render="if">
      <dt>Message</dt>
      <dd n:render="data">(Message)</dd>
    </n:invisible>
  </dl>

  <h2>Cardholder</h2>
  <dl class="cardholder">
    <dt>Name</dt>
    <dd><n:invisible n:data="customer_first_name" n:render="data" /> <n:invisible n:data="customer_last_name" n:render="data" /></dd>
    <dt>Address</dt>
    <dd n:data="customer_address" n:render="address">(Address)</dd>
    <dt>Postcode</dt>
    <dd n:data="customer_postcode" n:render="data">(Postcode)</dd>
    <n:invisible n:data="customer_country" n:render="if">
      <dt>Country</dt>
      <dd n:render="data">(Country)</dd>
    </n:invisible>
    <n:invisible n:data="customer_phone_number" n:render="if">
      <dt>Telephone</dt>
      <dd n:render="data">(Telephone)</dd>
    </n:invisible>
    <dt>Email</dt>
    <dd n:data="customer_email" n:render="data">(Email)</dd>
  </dl>

  <h2>Delivery</h2>
  <dl class="delivery">
    <dt>Name</dt>
    <dd n:data="delivery_name" n:render="data">(Name)</dd>
    <dt>Address</dt>
    <dd n:data="delivery_address" n:render="address">(Address)</dd>
    <dt>Postcode</dt>
    <dd n:data="delivery_postcode" n:render="data">(Postcode)</dd>
    <n:invisible n:data="delivery_country" n:render="if">
      <dt>Country</dt>
      <dd n:render="data">(Country)</dd>
    </n:invisible>
  </dl>

  <h2>Basket</h2>
  <table n:data="items" n:render="sequence">
    <tr n:pattern="header">
      <th>Code</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>
    <tr n:pattern="item" n:render="basket_item">
      <td><n:slot name="code" /></td>
      <td><n:slot name="description" /></td>
      <td><n:slot name="quantity_ordered" /></td>
      <td>£<n:slot name="unit_price" /></td>
      <td>£<n:slot name="total_price" /></td>
    </tr>
  </table>

  <n:invisible n:data="payment_reference" n:render="actions">
    <form n:render="form actions" />
  </n:invisible>

</n:invisible>
