body {
  margin: 0;
  padding: 0;
  font-size: 85%;
  font-family: arial, geneva, helvetica, sans
}

* {
  margin-top: 0;
}

.categorieswidget .panel {
  display: none;
}

#header {
  background-color: #000;
  padding:15px;
}


#header h1 {  
  text-indent: -1000em;
  background: url(../images/logo.gif) no-repeat;
  margin:0;
}


#component-navigation-cnr {
  position: absolute;
  left: 0;
  width: 15em;
  height: 100%;
  background-color: #EFEFEF;
}

#component-navigation {
  padding: 1em 2em;
}

#component-navigation ul {
  margin: 0.25em 0 0.5em 0;
  border-bottom: 1px solid #444;
  padding: 0 0 0.5em 0;
  list-style: none;
}

#component-navigation ul ul {
  margin: 0.4em 0 0.25em 0.2em;
  border-bottom: 0;
  padding-bottom: 0.5em;
}

#component-navigation ul li {
  margin-bottom: 0.3em;
}

#component-navigation ul li li {
  margin-bottom: 0.3em;
  background: url(../images/bullet.gif) left no-repeat;  
  padding-left:0.9em;
}

#component-navigation a, #component-navigation a:hover, #component-navigation
a:link, #component-navigation a:visited {
  display: block;
  color: #000;
  text-decoration: none;
}

#component-navigation ul ul a, #component-navigation ul ul a:hover, #component-navigation
ul ul a:link, #component-navigation ul ul a:visited {
  color: #444;
  
}

#component-cnr {
  position: absolute;
  left: 15em;
  right: 0;
  max-width: 1000px;
}

#flash {
  margin: 1em;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-color: #cfc;
  background-color: #f0fff0;
}

#flash.error {
  border-color: #fcc;
  background-color: #fff0f0;
}

#flash p {
  padding: 0;
  margin: 0 4em 0 0;
}

#flash a, #flash a:visited, #flash a:hover, #flash a:link {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 4em;
  text-align: right;
  color: #666;
}

#component {
  padding: 1em 2em;
  color: #222;
  background-color: #fff;
}

#component table {
  margin-bottom: 1em;
}

#component table tr th, #component table tr td  {
  padding: 0.1em 0.35em 0.1em 0.45em;
}

table {
  border-collapse: collapse;
  border: 1px solid #dddfc3;
}

table th, table th {
  text-align: left;

}

table tr {
  border-bottom: 1px dashed #dddfc3;
}

table tr th {
  background-color: #F5E8B0;
  border-bottom: 1px dashed #dddfc3;
}

#sso {
  border: 1px dashed #777;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #fff; 
}

body form .table_actions input.notaction {
border:3px solid #CCC;background:none;font-weight:normal;color: #000
}

a {
  text-decoration: none;
  color: #8F6409;
}

    .sitemappeditems .collapsed { display: none; }
    .sitemappeditems #tablemain {border-collapse: collapse; border: 0px; margin: 0px; padding: 0px;  }
    table td { font: normal 10pt Arial; padding: 0px 2px 0px 0px; cursor: pointer;}
    .sitemappeditems .ttimage, .sitemappeditems .parimg, .sitemappeditems .preimg { border: none; margin: 0px; padding: 0px; vertical-align: bottom; width: 16px; height: 16px; }
    .sitemappeditems .parimg {cursor: pointer; }
    .sitemappeditems .selected { background-color: #ddf; }
    
  #component  .sitemappeditems table {
    width:100%;
    margin-bottom:0;
    }
    
.sitemappeditems    table tr {
  border-bottom: 0;
}

.sitemappeditems table tr th {
  border-bottom: 0;
} 

#component .sitemappeditems  table tr th, #component .sitemappeditems  table tr td  {
  padding: 0.0em 0.35em 0.0em 0.45em;
  margin: 0.1em 0 0.15em 0;
}


.immutable #tab-one.selected, .immutable #tab-two.selected, .immutable #tab-three.selected, .immutable #tab-four.selected {
  background-color: #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}
.immutable #page-one, .immutable #page-two, .immutable #page-three, .immutable #page-four {
  background-color: #F9F9F9;
}

#component .immutable input, #component .immutable textarea, #component .immutable select {
  background-color: #F9F9F9;
  color: #666;
}

#component .immutable label {
  color: #444;
}


a.linkButton
{
border: 3px double #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
padding: 0.25em;
background-color: #FFFFFF;
background-image: url(../images/background_form_element.gif);
background-repeat: repeat-x;
color: #333333;
font-size: 90%;
font-weight: bold;
font-family: Verdana, Helvetica, Arial, sans-serif;
margin-bottom:1em;


}

p.opener {
color: #8F6409;
}
